body, html {
    margin: 0;
    padding: 0;
    background-color: #f7bd9b;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1b1464;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
p {
    font-size: 1.2rem;
    color: #1b1464;
    margin-bottom: 4vh;
}
.avatar {
    width: auto;
    height: 200px;
    margin-top: 2rem;
}
h1{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10vh;
    font-family: 'Pacifico', cursive;
    color: #3e7e77;
}
footer {
    background-color: white;
    justify-content: center;
    padding: 3vh;
    width: 90vw;
    margin: 2vh auto;
    border-radius: 20px;
    position: absolute;
    bottom: 1rem;
    font-size: 15px;
    color: #1b1464;
}
footer ul {
    display: flex;
    justify-content: space-between;
    color: #67c2b5;
}
footer ul a {
    text-decoration: none;
}

@media  screen and (min-width: 768px) {
    h1{
        font-size: 5.5rem;
    }
    p{
        font-size: 1.5rem;
    }
    footer{
        display: flex;
        justify-content: center;
    }
    footer ul{
        width: 30%;
    }
}

